/** Stage container **/

.connected-carousels .stage {
    width: 420px;
    margin: 20px auto;
    position: relative;
}

.connected-carousels .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.connected-carousels .photo-credits a {
    color: #fff;
}

/** Navigation container **/

.connected-carousels .navigation {
    width: 255px;
    margin: 20px auto;
    position: relative;
}

/** Shared carousel styles **/

.connected-carousels .carousel {
    overflow: hidden;
    position: relative;
}

.connected-carousels .carousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.connected-carousels .carousel li {
    float: left;
}

/** Stage carousel specific styles **/

.connected-carousels .carousel-stage {
    height: 420px;
    width: 420px;
    border: 0;
}

/** Navigation carousel specific styles **/

.connected-carousels .carousel-navigation {
    height: 56px;
    width: 255px;
    background: #fff;
    border: 0;
}

.connected-carousels .carousel-navigation li {
    cursor: pointer;
    border: 1px solid #dddddd;
    margin: 0 10px 0 0;
}
.connected-carousels .carousel-navigation li.active {
    cursor: pointer;
    border: 1px solid #333333;
}
.connected-carousels .carousel-navigation li img {
    display: block;
    border: 2px solid #FFF;
}

.connected-carousels .carousel-navigation li.active img {
    border: 2px solid #333333;
}

/** Stage carousel controls **/

.connected-carousels .prev-stage,
.connected-carousels .next-stage {
    display: block;
    position: absolute;
    top: 0;
    width: 50px;
    height: 420px;
    color: #000;
}

.connected-carousels .prev-stage {
    left: -50px;
}

.connected-carousels .next-stage {
    right: -50px;
}

.connected-carousels .prev-stage.inactive,
.connected-carousels .next-stage.inactive {
    display: none;
}

.connected-carousels .prev-stage span,
.connected-carousels .next-stage span {
    position: absolute;
    top: 45%;
    width: 50px;
    height: 90px;
    text-align: center;
    text-decoration: none;
}

.connected-carousels .prev-stage span {
    left: 0px;
    background: url(../../images/arrow-sliders.png) no-repeat -20px -33px;
}

.connected-carousels .next-stage span {
    right: 0px;
    background: url(../../images/arrow-sliders.png) no-repeat -70px -33px;
}

.connected-carousels .prev-stage:hover span,
.connected-carousels .next-stage:hover span {
    display: block;
}

/** Navigation carousel controls **/

.connected-carousels .prev-navigation,
.connected-carousels .next-navigation {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 16px/29px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.connected-carousels .prev-navigation {
    left: -15px;
    top: 22px;
    text-indent: 6px;
}

.connected-carousels .next-navigation {
    right: -15px;
    top: 22px;
    text-indent: 20px;
}

.connected-carousels .prev-navigation.inactive,
.connected-carousels .next-navigation.inactive {
    opacity: .5;
    cursor: default;
}
